/* _content/bl1/Shared/Header.razor.rz.scp.css */
.navbar.header-navbar[b-wv3s1dbzjk] {
    flex-grow: 0;
    flex-wrap: nowrap;
    border: none;
    background-color: inherit;
    border-radius: 0;
    height: 3.5rem;
    min-height: 3.5rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    justify-content: flex-start;
}

.header-navbar .navbar-toggler[b-wv3s1dbzjk] {
    outline: none;
    border-radius: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    box-shadow: none;
    align-self: stretch;
}

.header-navbar .navbar-toggler .navbar-toggler-icon[b-wv3s1dbzjk] {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: transparent !important;
    height: 2rem;
    width: 2rem;
}

.title[b-wv3s1dbzjk] {
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 350px) {
    .title[b-wv3s1dbzjk] {
        font-size: inherit;
    }
}
/* _content/bl1/Shared/MainLayout.razor.rz.scp.css */
.page[b-24thipplbv] {
    height: 100%;
    overflow: hidden;
    background-color: inherit;
}
[b-24thipplbv] .page-layout,
[b-24thipplbv] .page-layout > .dx-gridlayout-root,
[b-24thipplbv] .layout-item {
    background-color: inherit;
}

[b-24thipplbv] .content {
    padding: 1.1rem 2rem 0 2rem;
    overflow: auto;
}

@media (max-width: 1199.98px) {
    [b-24thipplbv] .page-layout > .dx-gridlayout-root {
        grid-template-columns: minmax(0, 1fr) !important;
    }
}

[b-24thipplbv] .fit-width {
    max-width: 100%;
}

[b-24thipplbv] .mw-1100 {
    max-width: 1100px;
}
/* _content/bl1/Shared/NavMenu.razor.rz.scp.css */
.sidebar[b-v6lvuxo9cd] {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: inherit;
}

.sidebar.collapse[b-v6lvuxo9cd] {
    display: none;
}

.sidebar.expand[b-v6lvuxo9cd] {
    display: block;
}

@media (max-width: 1199.98px) {
    .sidebar[b-v6lvuxo9cd] {
        display: none;
    }

    .sidebar.expand[b-v6lvuxo9cd] {
        position: fixed;
        top: 3.5rem;
        left: 0;
        height: auto;
        min-width: 100%;
        z-index: 1050;
    }
}

[b-v6lvuxo9cd] .app-sidebar > .nav-pills > .nav-item:first-of-type {
    padding-top: 1rem;
}

[b-v6lvuxo9cd] .app-sidebar > .nav-pills > .nav-item:last-of-type {
    padding-bottom: 1rem;
}

[b-v6lvuxo9cd] .app-sidebar .nav-pills > .nav-item a {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

[b-v6lvuxo9cd] .app-sidebar > .nav-pills > .nav-item > a {
    font-size: 1rem !important;
    font-weight: 600 !important;
    padding: .25rem 1rem .25rem .125rem;
}
[b-v6lvuxo9cd] .app-sidebar,
[b-v6lvuxo9cd] .app-sidebar > .nav-pills,
[b-v6lvuxo9cd] .app-sidebar > .nav-pills > .nav-item,
[b-v6lvuxo9cd] .app-sidebar > .nav-pills > .nav-item > a:not(.active) {
    background-color: inherit;
}

@media (max-width: 1199.98px) {
    [b-v6lvuxo9cd] .app-sidebar > .nav-pills > .nav-item:last-of-type {
        padding-bottom: 0;
    }
}
